body {
    padding-top: 70px;
    width: 90%;
    margin: auto;
    background-image:url(../img/br_al.png); ;
}

.carousel-caption {
	margin-top:20px;
}

.col-md-4 {
    padding-bottom: 30px;
}

.panel {
    border-radius: 20px;
}

.panel-heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}